*{
	margin: 0;
	padding: 0;
}

header, .control-text{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
}

section{
	width: 49%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	vertical-align: top;
	height: 550px;
}

article{
	width: 200px;
	margin-bottom: 50px;
	margin-left: 10px;
}
